<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../../styles/menu.css">
<title>The Insultinatr!</title>
</head>
<body>
<div class="header">
<h1>
You made it to your user page, dummie!
</h1>
</div>
<div class="topnav">
<a href="/insults">My Insults!</a>
<a href="/logout">Logout</a>
</div>

<h2>Insults:</h2>
<ul>
<% if @user.insults.length == 0 %>
        <h3>Sorry you don't have any insults</h3>
        <h3><a href="/insults/new">Follow me for insults!</a></h3>
    <% else %>
        <% @user.insults.each do | insult | %>
        <li><%= insult %></li>
        <% end %>
<% end %>
</ul> 

</body>
</html>