<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Your new insult!</h1>
    <form action="/insults" method="post">
        <input type="submit" value="Give me an insult!">
    </form>
</body>
</html>