<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Your new insult!</h1>
<title>The Insultinatr!</title>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<style>
body {font-family: 'Gloria Hallelujah', cursive;}
</style>
<body>
  <%= form_with method: "POST", url: "/insults" do |insult|%>
    <button class="insultbtn" >Give me an Insult</button>
  <% end %>
</body>
</html>