<!DOCTYPE html>
<html>
<head>
  <title>The Insultinatr!</title>
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="../../styles/menu.css">
  <style>
    body {font-family: 'Gloria Hallelujah', cursive;}
  </style>
  <title>The Insultinatr!</title>
</head>
<body>
    <h1>You ready to get roasted?</h1>
<body>
  <%= form_for(@insult) do |insult|%>
    <button type="submit" >Give me an Insult</button>
  <% end %>
</body>
</html>