<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../styles/menu.css">
    <title>The Insultinatr!</title>
</head>
<body>
    <h1>You made it to the show insult page!</h1>
    <h1>Insults!<h1>
        <h3>If you thought you were going to
            see your insults here, you thought wrong!
        </h3>
    <h3><a href="/users/<%= @user %>">Main Page</a></h3>
    <h3><a href="/insults/new">Follow me for insults!</a></h3>
</body>
</html>