body {
    background-color: lightgray;
    font-family: 'Gloria Hallelujah', cursive;
    overflow: auto;
  }

  input {
    font-family: 'Gloria Hallelujah', cursive;               
}
  
  h1 {
    color: white;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    position: relative;
    left: 30px;
    clear: left;
  }
  a {
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 50px 15px;
    padding: 14px 16px;
    transition: background-color 0.5s ease;
  }
  a:hover {
    text-decoration: bold;
    background-color: gray;
  }
  * Full-width input fields */


/* input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  overflow: auto;
} */

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  /* background-color: lightslategray;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  transition: background-color 0.5s ease;
  font-family: 'Gloria Hallelujah', cursive;
  border-radius: 50px 15px;
  text-align: center;
  display: block;
  max-width: 300px;
  margin: auto; */
  background-color: lightslategray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

button:hover {
  opacity:1;
  cursor: pointer;
  background-color: darkslategray
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: gray;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  cursor: pointer;
}

.container {
  width: 100%;
  text-align: center;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul {
    padding: 0;
    background: darkslategray;
    font-family: 'Gloria Hallelujah', cursive;
    /* border-radius: 15px 50px 30px 5px; */
    width: 100%;
    position: fixed;
    /* left: 30px; */
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    bottom: 0;
}
li {
    /* float: left; */
    display: inline;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li {
    display:inline;
    margin: 5px;
    background: lightslategray;
    overflow: auto;
    font-family: 'Gloria Hallelujah', cursive;
    width: 75%;
}


h2 {
    position: relative;
    left: 30px;
    clear: left;
}


.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    border-radius: 50px 15px;
  }
  html {
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  label {
    width: 50%;
    resize: vertical;
    box-sizing: border-box;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=submit] {
    background-color: lightslategray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  input[type=email], select {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=text], select {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  div {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 30px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

img {
    opacity: 0.95;
    border-radius: 180px;
    width: 25%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
  }

  input[type=password] {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.navbar {
    overflow: hidden;
    background: darkslategray;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: none;
    }
      
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: none;
    text-decoration: none;
    font-size: 17px;
    border-radius: 0px;
    margin: none;
    }

    